
	#showcase-holder {
		width:100%;
		height:100vh;
		position:absolute;
		perspective: 1000px;
		overflow:hidden;
		opacity:0;
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
	
	#showcase-tilt-wrap {
		width:100%;
		height:100vh;
		position:absolute;
		perspective: 1000px;
		overflow:hidden;
	}
	
	#showcase-tilt {
		width:100%;
		height:100%;
		position:fixed;
		transform-style: preserve-3d;
		-webkit-transform: scale(1.05);
		transform: scale(1.05);	
	}
	
	#showcase-tilt.disabled {
		-webkit-transform: translate3d(0, 0, 0) scale(1.05)!important;
		transform: translate3d(0, 0, 0) scale(1.05)!important;
		-webkit-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
	}

	#showcase-slider, #showcase-carousel-slider {
		height: 100%;
		width: 100%;
	}
	
	#showcase-slider {
		overflow:visible;
	}
	
	.ovisible #showcase-holder, .ovisible #showcase-holder-wrap, .ovisible #showcase-tilt-wrap, .ovisible #showcase-tilt, .ovisible #showcase-slider {
		overflow:visible!important;
	}
	
	.scale-up #showcase-slider {
		cursor: grabbing!important;
	}
	
	#showcase-slider .swiper-wrapper {
		position: relative;
		display: block;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;		
	}
	
	.swiper-slide {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		-webkit-user-select: none;
		-webkit-touch-callout: none; 
		user-select: none;		
	}
	
	.img-mask {	
		width:100%;
		height:100%;
		display: block;
		position:absolute;
		box-sizing:border-box;
	}
	
	.section-image {
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;		 
	}
	
	.section-image::after {
		content: "";
		width: 100%;
		height: 60%;
		position: absolute;
		bottom: 0;
		left: 0;
		pointer-events: none;
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
	}
	
	#showcase-holder .showcase-captions-wrap {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		margin: 0 auto;		
		width: 100%;
		height: 100vh;
		z-index: 100;
		top: 0;
		pointer-events:none;
	}
	
	#showcase-holder .showcase-captions {
		padding: 0px;
		max-width: 1280px;
		width: 100%;
		box-sizing: border-box;
		position: absolute;
		height: 100vh;
		top: 0;
		right: 0;
		left: 0;
		margin: 0 auto;	
	}
	
	#showcase-holder .swiper-pagination-bullet {
		position: absolute;
		width: 100%;
		height: 100%;
		display: table;
		border-radius: 0;
		background: transparent;
		box-sizing: border-box;
		text-align: center;
		opacity: 1;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		color: rgba(0,0,0,1);
	}
	
	#showcase-holder .swiper-pagination-bullet .inner {
		width: 100%;
	}
	
	.light-content #showcase-holder .swiper-pagination-bullet {
		color: rgba(255,255,255,1);
	}
	
	.swiper-slide .outer {
		max-width: 1280px;
		position: relative;
		margin: 0 auto;
		padding: 0 20px;
		box-sizing: border-box;
	}
	
	.title {
		position: relative;
		opacity:1;
		display:table;
		vertical-align: middle;
		width:auto;
		font-size:120px;
		line-height:120px;
		height:120px;
		font-weight: 700;
		color:#000;
		margin:0 auto;
		-webkit-touch-callout: none; 
		-webkit-user-select: none; 
		-khtml-user-select: none; 
		-moz-user-select: none; 
		-ms-user-select: none; 
		user-select: none; 
		left: 0;
		right: 0;		
		cursor:pointer;		
	}
	
	#showcase-slider .outer .title {
		pointer-events: initial;
	}
	
	.scale-up .title {
		pointer-events:none;
	}
	
	.title div {
		display: block;
		margin: 0 0.95vw;
		float: left;
	}
	
	.title span {
		display: block;
		float:left;
		margin: 0;
		min-width: 10px;
		width:auto;
		line-height:120px;
		height:120px;
		box-sizing: border-box;
		opacity: 0;
		-webkit-text-stroke: 0px #fff;
		-webkit-transform: translateY(300px) scaleY(2);
		transform: translateY(300px) scaleY(2);
	}
	
	.swiper-pagination-bullet:first-child .title span {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	
	.light-content .title {
		color:#fff;
	}
	
	.swiper-slide .title {
		opacity:0;
		position:relative;
	}
	
	.subtitle {
		font-size:16px;
		font-weight:600;
		line-height:20px;
		margin-bottom:0px;
		width: 100%;
		z-index: 10;
		opacity:0;
		position:relative;
	}
	
	.swiper-pagination-bullet:first-child .subtitle {
		opacity: 1;
	}
	
	.showcase-subtitles-wrap {
		position: absolute;
		left: 0;
		top:30px;
		width: 100%;
		height: 20px;
		overflow: hidden;
		pointer-events:none;
	}
	
	.showcase-subtitles-wrap .swiper-pagination-bullet {
		position: relative;
		width: 100%;
		height: auto;
		display: block;
		border-radius: 0;
		background: transparent;
		box-sizing: border-box;
		text-align: left;
		opacity: 1;
		bottom: 0;	
	}
	
	.showcase-subtitles-wrap .subtitle {
		font-size: 12px;
		font-weight: 600;
		color: #000;
		text-align: left;
		padding-left: 3px;
		position:absolute;
		top:0;
		opacity:0;
		transform: translateY(20px);
		-webkit-transform: translateY(20px);
	}
	
	.showcase-subtitles-wrap .swiper-pagination-bullet:first-child .subtitle {
		position:absolute;
		top:0;
		opacity:1;
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
	}
	
	.light-content .showcase-subtitles-wrap .subtitle {
		color:#fff;
	}
	
	.no-stroked .subtitle, .stroked .subtitle {
		position:absolute;
		display:none;
	}
	
	.arrows-wrap {
		width: 160px;
		height: 80px;
		position: relative;
		float:left;
		left:-30px;
		bottom:0px;
		pointer-events:initial;
		opacity:1;
	}
	
	.prev-wrap, .next-wrap {
		width:80px;
		height:80px;
		float:left;
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
	}
	
	.next-wrap {
		float:right;
	}
	
	.arrows-wrap .swiper-button-next, .arrows-wrap .swiper-button-prev {
		position: relative;
		top: auto;
		width: 40px;
		height: 40px;
		margin-top: 0;
		z-index: 10;
		cursor: pointer;
		background-size: 11px 20px;
		background-position: center;
		background-repeat: no-repeat;
		left: auto;
		right: auto;
		background-image:none!important; 
	}
	
	.arrows-wrap .swiper-button-prev::before {
		height: 40px;
		width: 40px;
		position: absolute;
		left:0;
		font-size: 30px;
		line-height:40px;
		text-align:center;		
		font-family: 'FontAwesome';
		content: "\f106";
		color: #000;
		-webkit-transition: 0.15s ease-in-out;
		transition: 0.15s ease-in-out;
	}
	
	.arrows-wrap .swiper-button-prev::after {
		height: 0px;
		width: 2px;
		position: absolute;
		left: 0;
		text-align: center;
		content: "";
		background-color: #fff;
		top: 19px;
		left: 19px;
		-webkit-transition: 0.15s ease-in-out;
		transition: 0.15s ease-in-out;		
	}
	
	.arrows-wrap .prev-wrap:hover .swiper-button-prev::after {
		height:14px;
	}
	
	.arrows-wrap .swiper-button-next::before {
		height: 40px;
		width: 40px;
		position: absolute;
		left:0;
		font-size: 30px;
		line-height:40px;
		text-align:center;		
		font-family: 'FontAwesome';
		content: "\f107";
		color: #000;
		-webkit-transition: 0.15s ease-in-out;
		transition: 0.15s ease-in-out;
	}
	
	.arrows-wrap .swiper-button-next::after {
		height: 0;
		width: 2px;
		position: absolute;
		left: 0;
		text-align: center;
		content: "";
		background-color: #fff;
		bottom: 18px;
		left: 19px;
		-webkit-transition: 0.25s ease-in-out;
		transition: 0.25s ease-in-out;		
	}
	
	.arrows-wrap .next-wrap:hover .swiper-button-next::after {
		height:14px;
	}
	
	.light-content .arrows-wrap .swiper-button-prev::before, .light-content .arrows-wrap .swiper-button-next::before {
		color: #fff;
	}
	
	.arrows-wrap .swiper-button-next.swiper-button-disabled, .arrows-wrap .swiper-button-prev.swiper-button-disabled {
		opacity: 1;
	}
	
	
	.scale-up #showcase-carousel-slider .swiper-wrapper1 {
		-webkit-transition: all 900ms cubic-bezier(0.19, 1, 0.22, 1)!important;
		transition:         all 900ms cubic-bezier(0.19, 1, 0.22, 1)!important;
		-moz-transform-style: flat;
		-webkit-transform-style: flat;
		-ms-transform-style: flat;
		transform-style: flat;
	}
	
	#showcase-holder-wrap {
		width:100%;
		height:100vh;
		position:absolute;
	}
	
	#showcase-holder, #showcase-holder-wrap {
		overflow:visible;
	}
	
    #showcase-carousel-slider.swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
		overflow:visible;
    }
	
	#showcase-carousel-slider .section-image {
		max-width: 1060px;
		margin: 0 auto;
		height: 56%;
		top: 22%;
	}
	
	#showcase-carousel-slider .outer {
		pointer-events: none;
		max-width: 1280px;
		position: relative;
		margin: 0 auto;
		padding: 0 50px;
		box-sizing: border-box;
		opacity:0;
	}
	
	#showcase-carousel-slider .outer .title-wrapper {
		height:120px;
		line-height: 120px;
		transform: translate3d(0px, 10px, 0px);
		overflow:hidden;
	}
	
	#showcase-carousel-slider .outer .title {
		opacity: 1;
		pointer-events: initial;
		line-height: 120px;
	}
	#showcase-carousel-slider .outer .title span {
		top: 1.2vw;
	}
	
	#showcase-carousel-slider .outer .subtitle-wrapper {
		height:20px;
		line-height: 20px;
		transform: translate3d(0px, 10px, 0px);
		overflow:hidden;
	}
	
	#showcase-carousel-slider .outer .subtitle {
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		margin-left: 2px;
		margin-bottom: 0px;
		position: relative;
		color:#000;
	}
	
	.light-content #showcase-carousel-slider .outer .subtitle {
		color:#fff;
	}
	
	#showcase-carousel-slider .swiper-slide:nth-child(2) .subtitle {
		transform: translateY(40px);
		-webkit-transform: translateY(40px);
	}
	
	#showcase-carousel-slider .hero-video-wrapper {
    	position: absolute;
		z-index:0;
	}
	
	#temp-wrapper {
		position:fixed;
		top:0;
		height:100vh;
		width:100%;
		z-index:10000;
		pointer-events:none;
	}
	
	.disable-click {
		cursor: pointer;
		pointer-events: none;
	}
	
	
/*--------------------------------------------------
	16. Responsive
---------------------------------------------------*/			
			
@media only screen and (max-width: 1600px) {
	
	.title {
		font-size:80px;
		line-height:80px;
		height:80px;
	}
	
	.title span {
		line-height:80px;
		height:80px;
	}

	.slider-one {
		background-image: url("Desktop/chandrika_intro_01.png");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	.slider-two {
		background-image: url("Desktop/chandrika_intro_02.jpg");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	.slider-three {
		background-image: url("Desktop/chandrika_intro_03.jpg");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	.slider-four {
		background-image: url("Desktop/chandrika_intro_04.jpg");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	.slider-five {
		background-image: url("Desktop/chandrika_intro_05.jpg");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	.slider-six {
		background-image: url("Desktop/chandrika_intro_06.jpg");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	.slider-seven {
		background-image: url("Desktop/chandrika_intro_07.jpg");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	.slider-eight {
		background-image: url("Desktop/chandrika_intro_08.jpg");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	.slider-nine {
		background-image: url("Desktop/chandrika_intro_09.png");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	
}

@media only screen and (max-width: 1500px) {
	
	
	
}


@media only screen and (max-width: 1466px) {
		
	
	#showcase-carousel-slider .img-mask {
		padding: 0 110px;
	}
	
	
}

@media only screen and (max-width: 1386px) {
	
	#showcase-carousel-slider .img-mask {
		padding: 0 90px;
	}
	
}



@media only screen and (max-width: 1024px) {
	
	.title {
		font-size:60px;
		line-height:60px;
		height:60px;
	}
	
	.title span {
		line-height:60px;
		height:60px;
	}
	
}


@media only screen and (max-width: 767px) {

	/*body {
		display: none;
	}*/

	.slider-one {
		background-image: url("Mobile/chandrika_intro_01_mobile.jpg");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	.slider-two {
		background-image: url("Mobile/chandrika_intro_02_mobile.jpg");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	.slider-three {
		background-image: url("Mobile/chandrika_intro_03_mobile.jpg");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	.slider-four {
		background-image: url("Mobile/chandrika_intro_04_mobile.jpg");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	.slider-five {
		background-image: url("Mobile/chandrika_intro_05_mobile.jpg");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	.slider-six {
		background-image: url("Mobile/chandrika_intro_06_mobile.jpg");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	.slider-seven {
		background-image: url("Mobile/chandrika_intro_07_mobile.jpg");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	.slider-eight {
		background-image: url("Mobile/chandrika_intro_08_mobile.jpg");
		position:relative;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size: cover;
		opacity:1;
	}
	
	.title {
		font-size:50px;
		line-height:50px;
		height:50px;
	}
	
	.title div {
		display: block;
		float: left;
	}
	
	.title span {
		line-height:50px;
		height:50px;
	}
	
}


@media only screen and (max-width: 479px) {
	
	
	
}			