<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="global-messages" class="messages">
    <th:block
            th:if="${alert_warnings!=null or alert_success!=null or alert_notices!=null or alert_errors!=null}">
        <div style="margin-top:10px;">

            <div class="alert alert-success alert-dismissable"
                 th:if="${alert_success!=null and !alert_success.empty}">
                <i class="fa fa-check"></i> <span th:each="element : ${alert_success}"
                                                  th:utext="${element + '<br/>'}"><br/></span>
            </div>
            <div class="alert alert-danger alert-dismissable"
                 th:if="${alert_errors!=null and !alert_errors.empty}">
                <i class="fa fa-times"></i> <span th:each="element : ${alert_errors}"
                                                  th:utext="${element + '<br/>'}"></span>
            </div>
            <div th:if="${alert_warnings!=null and !alert_warnings.empty}"
                 class="alert alert-warning alert-dismissable">
                <a href="#" class="close no-loading" data-dismiss="alert" aria-label="close">&times;</a>
                <span th:each="element : ${alert_warnings}" th:utext="${element}"></span>
            </div>
            <div th:if="${alert_notices!= null and !alert_notices.empty}"
                 class="alert alert-info alert-dismissable">
                <a href="#" class="close no-loading" data-dismiss="alert" aria-label="close">&times;</a>
                <span th:each="element : ${alert_notices}" th:utext="${element}"></span>
            </div>

            <!--<div class="alert alert-danger" th:if="${Alerts::getErrors() != null}" th:each="errors: ${Alerts::getErrors()}"></div>
            <div class="alert alert-danger" th:each="infos: ${Alerts::getInfos()}"></div>
            <div class="alert alert-danger" th:each="successes: ${Alerts::getSuccesses()}"></div>
            <div class="alert alert-danger" th:each="warnings: ${Alerts::getWarnings()}"></div>-->
        </div>
    </th:block>
</div>