<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

    <th:block th:fragment="sidebar">
        <div class="sidebar" data-color="white" data-active-color="danger">
            <!--
              Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
          -->
            <div class="logo">
                <a href="#" class="simple-text logo-mini">
                    <div class="logo-image-small">
                        <img th:src="@{/front/nimda/assets/img/logo-small.png}">
                    </div>
                </a>
                <a href="" class="simple-text logo-normal" style="text-transform: none;"
                   th:text="${'Hi ' + @userUtil.getCurrentUser().getFirstName()}">

                    <!-- <div class="logo-image-big">
                      <img th:src="@{../assets/img/logo-big.png">
                    </div> -->
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a th:href="@{/maintheme}">
                            <i class="nc-icon nc-bank"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')or hasRole('ROLE_SUPERADMIN')">

                        <!--<li th:classappend="${(@localeHelper.getServletPaht().contains('admin/dashboard/list')) ?  'active' : ''}">
                            <a th:href="@{/admin/dashboard/list}"


                            >
                                <i class="nc-icon nc-world-2"></i>
                                <p style="text-transform: none; font-size: 14px;; margin-bottom: -15px;">Dashboard</p>
                            </a>
                        </li>-->

                        <li th:classappend="${(@localeHelper.getServletPaht().contains('admin/category/list')) ?  'active' : ''}">
                            <a th:href="@{/admin/category/list}"


                            >
                                <i class="nc-icon nc-basket"></i>
                                <p style="text-transform: none; font-size: 14px;; margin-bottom: -15px;">Categories</p>
                            </a>
                        </li>

                        <li th:classappend="${(@localeHelper.getServletPaht().contains('admin/publications/datalist')) ?  'active' : ''}">
                            <a th:href="@{/admin/publications/datalist}"


                            >
                                <i class="nc-icon nc-book-bookmark"></i>
                                <p style="text-transform: none; font-size: 14px;; margin-bottom: -15px;">Silver Jewellery</p>
                            </a>
                        </li>

                        <!--<li th:classappend="${(@localeHelper.getServletPaht().contains('admin/publications/apilist')) ?  'active' : ''}">
                            <a th:href="@{/admin/publications/apilist}"


                            >
                                <i class="nc-icon nc-tablet-2"></i>
                                <p style="text-transform: none; font-size: 14px;; margin-bottom: -15px;">Web Services</p>
                            </a>
                        </li>-->

                        <!--<li th:classappend="${(@localeHelper.getServletPaht().contains('admin/offer/list')) ?  'active' : ''}"


                            sec:authorize="hasRole('ROLE_ADMIN')"
                        >
                            <a th:href="@{/admin/offer/list}">
                                <i class="nc-icon nc-chart-bar-32"></i>
                                <p style="text-transform: none; font-size: 14px;; margin-bottom: -15px;">Combo Pack</p>
                            </a>
                        </li>-->


                        <!--<li th:classappend="${(@localeHelper.getServletPaht().contains('admin/notification/list')) ?  'active' : ''}"


                            sec:authorize="hasRole('ROLE_ADMIN')"
                        >
                            <a th:href="@{/admin/notification/list}">
                                <i class="nc-icon nc-bell-55"></i>
                                <p>Notifications</p>
                            </a>
                        </li>-->


                        <!--<li th:classappend="${(@localeHelper.getServletPaht().contains('admin/purchasehistory/datalist')) ?  'active' : ''}"


                            sec:authorize="hasRole('ROLE_ADMIN')"
                        >
                            <a th:href="@{/admin/purchasehistory/datalist}">
                                <i class="nc-icon nc-briefcase-24"></i>
                                <p style="text-transform: none; font-size: 14px;; margin-bottom: -15px;">Customs Data Sales</p>
                            </a>
                        </li>-->

                        <!--<li th:classappend="${(@localeHelper.getServletPaht().contains('admin/purchasehistory/apilist')) ?  'active' : ''}"


                            sec:authorize="hasRole('ROLE_ADMIN')"
                        >
                            <a th:href="@{/admin/purchasehistory/apilist}">
                                <i class="nc-icon nc-chart-pie-36"></i>
                                <p style="text-transform: none; font-size: 14px;; margin-bottom: -15px;">Web Services Sales</p>
                            </a>
                        </li>-->
                        <!--<li th:classappend="${(@localeHelper.getServletPaht().contains('admin/user/list')) ?  'active' : ''}"


                            sec:authorize="hasRole('ROLE_ADMIN')"
                        >
                            <a th:href="reportsurl">
                                <i class="nc-icon nc-single-copy-04"></i>
                                <p>Reports</p>
                            </a>
                        </li>-->

                        <!--<li th:classappend="${(@localeHelper.getServletPaht().contains('admin/config/list')) ?  'active' : ''}">
                            <a th:href="@{/admin/config/list}"


                            >
                                <i class="nc-icon nc-settings-gear-65"></i>
                                <p style="text-transform: none; font-size: 14px;; margin-bottom: -15px;">Configurations</p>
                            </a>
                        </li>-->

                    </th:block>


                    <li>
                        <a th:href="@{/logout}" sec:authorize="isAuthenticated()">
                            <i class="nc-icon nc-button-power"></i>
                            <p style="text-transform: none; font-size: 14px;; margin-bottom: -15px;">Logout</p>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </th:block>
</html>