body.page-template-user-dashboard .col-lg-1,
body.page-template-user-dashboard .col-lg-2,
body.page-template-user-dashboard .col-lg-3,
body.page-template-user-dashboard .col-lg-4,
body.page-template-user-dashboard .col-lg-5,
body.page-template-user-dashboard .col-lg-6,
body.page-template-user-dashboard .col-lg-7,
body.page-template-user-dashboard .col-lg-8,
body.page-template-user-dashboard .col-lg-9,
body.page-template-user-dashboard .col-lg-10,
body.page-template-user-dashboard .col-lg-11,
body.page-template-user-dashboard .col-lg-12 {
	float: left;
}

body.page-template-user-dashboard .col-lg-1 {
	width: 8.33333%;
}

body.page-template-user-dashboard .col-lg-2 {
	width: 16.66667%;
}

body.page-template-user-dashboard .col-lg-3 {
	width: 25%;
}

body.page-template-user-dashboard .col-lg-4 {
	width: 33.33333%;
}

body.page-template-user-dashboard .col-lg-5 {
	width: 41.66667%;
}
body.page-template-user-dashboard .col-lg-6 {
	width: 50%;
}

body.page-template-user-dashboard .col-lg-7 {
	width: 58.33333%;
}

body.page-template-user-dashboard .col-lg-8 {
	width: 66.66667%;
}

body.page-template-user-dashboard .col-lg-9 {
	width: 75%;
}

body.page-template-user-dashboard .col-lg-10 {
	width: 83.33333%;
}

body.page-template-user-dashboard .col-lg-11 {
	width: 91.66667%;
}

body.page-template-user-dashboard .col-lg-12 {
	width: 100%;
}

.mkdf-dashboard-field-row{
	margin: 0 -15px;
}

.mkdf-dashboard-field-row:before,
.mkdf-dashboard-field-row:after{
    content: " ";
    display: table;
}

.mkdf-dashboard-field-row:after{
	clear: both;
}

.mkdf-dashboard-item{
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
}

.mkdf-dashboard-field-holder.mkdf-has-description{
	margin: 0 0 20px;
}

.mkdf-dashboard-field-holder.mkdf-has-description .mkdf-dashboard-input{
	margin-bottom: 0;
}

.mkdf-dashboard-field-holder.mkdf-has-description .description{
	font-size: 11px;
	margin: 5px 0 0;
}

.mkdf-dashboard-group .mkdf-dashboard-group-desc{
	margin-bottom: 20px;
}

.mkdf-dashboard-group .mkdf-dashboard-group-desc h4{
	margin: 0;
}

.mkdf-dashboard-group .mkdf-dashboard-group-desc p{
	margin: 5px 0 0;
}

.mkdf-dashboard-group .mkdf-dashboard-group-content{
	margin: 0 -15px;
}

.mkdf-dashboard-group .mkdf-dashboard-group-content:before,
.mkdf-dashboard-group .mkdf-dashboard-group-content:after{
    content: " ";
    display: table;
}

.mkdf-dashboard-group .mkdf-dashboard-group-content:after{
	clear: both;
}

.mkdf-dashboard-group .mkdf-dashboard-group-item{
	width: 100%;
	padding: 0 15px;
	float: left;
	box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
	.mkdf-dashboard-group .mkdf-dashboard-group-item{
		width: 50%;
	}
}

body.page-template-user-dashboard button[type=submit]{
	margin-top: 20px;
}


/*Image input style*/

.mkdf-dashboard-gallery-holder{
	margin-bottom: 20px;
}

.mkdf-dashboard-gallery-holder .mkdf-dashboard-gallery-upload-hidden{
	visibility: hidden;
}

.mkdf-dashboard-gallery-images-holder{
	list-style-type: none;
}

.mkdf-dashboard-gallery-images-holder li{
	display: inline-block;
	vertical-align: middle;
	width: 33.33%;
}

/*Checkbox style*/

.mkdf-dashboard-field-holder .mkdf-checkbox-style{
	margin: 5px 0 20px;
}

.mkdf-dashboard-field-holder .mkdf-checkbox-style:before,
.mkdf-dashboard-field-holder .mkdf-checkbox-style:after{
    content: " ";
    display: table;
}

.mkdf-dashboard-field-holder .mkdf-checkbox-style:after{
    clear: both;
}

.mkdf-dashboard-field-holder .mkdf-checkbox-style .mkdf-checkbox-label{
	cursor: pointer;
}

/*Select Style*/

.mkdf-dashboard-item select{
    width: 100%;
    margin: 0 0 20px;
    padding: 14px 18px;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    font-weight: inherit;
    color: #383838;
    background-color: transparent;
    border: 1px solid #e1e1e1;
    border-radius: 0;
    outline: 0;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-transition: border-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
}

.mkdf-dashboard-item .select2-container--default{
	display: block;
	margin-bottom: 20px;
}

.mkdf-dashboard-item .select2-container--default .select2-selection--single .select2-selection__clear{
	display: none;
}

/*Date style*/

body.page-template-user-dashboard #ui-datepicker-div .ui-datepicker-prev,
body.page-template-user-dashboard #ui-datepicker-div .ui-datepicker-next{
	padding: 0 3px;
}

/*Color style*/

.mkdf-dashboard-item .wp-picker-container button{
    outline: none;
    border-color: rgb(216, 216, 216);
    -webkit-appearance: none;
    border-style: solid;
    border-width: 1px;
}

.mkdf-dashboard-item .wp-picker-container .wp-color-result-text{
	display: inline-block;
}

.mkdf-dashboard-color-field.wp-color-picker{
	height: 24px;
	padding: 5px;
	box-sizing: border-box;
}

body.page-template-user-dashboard .mkdf-hide-field {
	display: none;
}

body.page-template-user-dashboard .mkdf-show-field {
	display: block;
}

/*Address style*/
body.page-template-user-dashboard .map_canvas {
    height: 300px;
    margin: 20px 0;
}

/*Repeater*/

body.page-template-user-dashboard .mkdf-dashboard-repeater-fields-row-inner,
body.page-template-user-dashboard .mkdf-dashboard-repeater-inner-fields-holder{
    display: table;
    width: 100%;
    vertical-align: middle;
    height: 100%;
    table-layout: fixed;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-fields,
body.page-template-user-dashboard .mkdf-dashboard-repeater-inner-fields{
    display: table-cell;
    width: 80%;
    height: 100%;
    vertical-align: middle;
    background: #f6f6f6;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-fields-holder .mkdf-dashboard-repeater-fields,
body.page-template-user-dashboard .mkdf-dashboard-repeater-fields-holder .mkdf-dashboard-repeater-inner-fields{
	padding: 15px 0;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-fields-row .mkdf-dashboard-repeater-wrapper .mkdf-dashboard-repeater-add{
    padding-left: 0;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-wrapper{
	margin-bottom: 20px;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-remove,
body.page-template-user-dashboard .mkdf-dashboard-repeater-sort {
    border-top: 1px solid #efefef;
    font-size: 20px;
    display: table-cell;
    width: 10%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-sort {
    cursor: move;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-sort:hover {
    background-color: #efefef;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-wrapper-inner:not(.sortable) .mkdf-dashboard-repeater-sort{
	display: none;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-add,
body.page-template-user-dashboard .mkdf-dashboard-repeater-inner-add {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background-color: #383838;
    padding: 15px;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-add a,
body.page-template-user-dashboard .mkdf-dashboard-repeater-inner-add a{
	color: inherit;
}

body.page-template-user-dashboard .mkdf-field-desc h4 {
    margin-top: 0;
}

body.page-template-user-dashboard .placeholder,
body.page-template-user-dashboard .placeholder-sub{
    background-color: #dadada;
    border: 1px dashed #000;
    height: 75px;
}

body.page-template-user-dashboard .placeholder-sub {
    margin-left: 50px;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-fields-row.ui-sortable-helper {
    background-color: #fff;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-fields-row.second-level{
    margin-left: 50px;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-fields{
	margin: 0 -15px;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-fields-row{
	padding: 0 15px;
	box-sizing: border-box;
}

/*Repeater Table style*/

body.page-template-user-dashboard .mkdf-dashboard-repeater-table .mkdf-dashboard-repeater-fields-holder{
	display: table;
	width: 100%;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-table .mkdf-dashboard-repeater-table-heading .mkdf-dashboard-repeater-table-cell{
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	padding: 15px;
	box-sizing: border-box;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-table .mkdf-dashboard-repeater-fields-holder{
	border-top: 1px solid #efefef;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-table .mkdf-dashboard-repeater-fields-row {
	text-align: center;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-table .mkdf-dashboard-repeater-fields-row .select2{
	text-align: left;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-table body.page-template-user-dashboard-form-section{
	border-top: none;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-table .mkdf-dashboard-repeater-remove,
body.page-template-user-dashboard .mkdf-dashboard-repeater-table .mkdf-dashboard-repeater-sort {
    border-top: none;
}

body.page-template-user-dashboard .mkdf-dashboard-repeater-table .mkdf-dashboard-repeater-fields,
body.page-template-user-dashboard .mkdf-dashboard-repeater-table .mkdf-dashboard-repeater-inner-fields{
	background-color: transparent;
}

/* Repeater global style -  end */@media only screen and (max-width:1024px){.mkdf-woocommerce-page table.cart td.actions .coupon .input-text{padding:8px 48px}}@media only screen and (max-width:768px){.mkdf-woocommerce-page table.cart td.actions .coupon .input-text{width:180px;margin:0 17px 0 0;padding:8px 20px}.mkdf-woocommerce-page table.cart td.actions .coupon .button,.mkdf-woocommerce-page table.cart td.actions>.button{margin:0}}@media only screen and (max-width:680px){.mkdf-woocommerce-page table.cart tr td,.mkdf-woocommerce-page table.cart tr th{font-size:12px}.mkdf-woocommerce-page table.cart tr.cart_item td.product-thumbnail{width:auto;padding-right:0}.mkdf-woocommerce-page table.cart tr.cart_item td.product-thumbnail img{display:none}.mkdf-woocommerce-page table.cart td.actions .coupon{margin:0 0 16px}.mkdf-woocommerce-page table.cart td.actions .coupon .input-text{width:160px;padding:8px 15px;margin:0 10px 20px 0}.mkdf-woocommerce-page table.cart td.actions .button,.mkdf-woocommerce-page table.cart td.actions .coupon,.mkdf-woocommerce-page table.cart td.actions>input{float:none;display:block}.mkdf-woocommerce-page table.cart td.actions .button{margin:0}}@media only screen and (max-width:480px){.mkdf-woocommerce-page .mkdf-content .woocommerce-cart-form .mkdf-quantity-buttons .mkdf-quantity-input,.mkdf-woocommerce-page .mkdf-content .woocommerce-cart-form .mkdf-quantity-buttons .mkdf-quantity-minus,.mkdf-woocommerce-page .mkdf-content .woocommerce-cart-form .mkdf-quantity-buttons .mkdf-quantity-plus{width:30px;height:30px;line-height:28px;margin:0 -1px 0 0}.mkdf-woocommerce-page .mkdf-content .woocommerce-cart-form .mkdf-quantity-buttons .mkdf-quantity-minus,.mkdf-woocommerce-page .mkdf-content .woocommerce-cart-form .mkdf-quantity-buttons .mkdf-quantity-plus{font-size:18px}.mkdf-woocommerce-page .mkdf-content .woocommerce-cart-form .mkdf-quantity-buttons .mkdf-quantity-input{font-size:15px}.mkdf-woocommerce-page table.cart thead tr th{font-size:19px}.mkdf-woocommerce-page table.cart td.actions{padding:43px 0 33px}.mkdf-woocommerce-page table.cart td.actions>.button{margin-top:17px}.mkdf-woocommerce-page .woocommerce-checkout .woocommerce-checkout-payment ul li.payment_method_paypal label img{display:none}}@media only screen and (max-width:768px){.mkdf-woocommerce-page .woocommerce-checkout .col-1,.mkdf-woocommerce-page .woocommerce-checkout .col-2{width:100%}.mkdf-woocommerce-page .woocommerce-checkout .col-1{margin:0 0 25px}}@media only screen and (max-width:680px){.mkdf-woocommerce-page .woocommerce-checkout .col-1 .form-row,.mkdf-woocommerce-page .woocommerce-checkout .col-2 .form-row{width:100%;margin:0;float:none}}@media only screen and (max-width:1024px){.woocommerce-page .mkdf-content .wc-forward:not(.added_to_cart):not(.checkout-button),.woocommerce-page .mkdf-content a.added_to_cart,.woocommerce-page .mkdf-content a.button,.woocommerce-page .mkdf-content button[type=submit]:not(.mkdf-search-submit),.woocommerce-page .mkdf-content input[type=submit],div.woocommerce .wc-forward:not(.added_to_cart):not(.checkout-button),div.woocommerce a.added_to_cart,div.woocommerce a.button,div.woocommerce button[type=submit]:not(.mkdf-search-submit),div.woocommerce input[type=submit]{padding:11px 29px}}@media only screen and (max-width:768px){.mkdf-woocommerce-page.woocommerce-order-received .woocommerce .col2-set.addresses .col-1,.mkdf-woocommerce-page.woocommerce-order-received .woocommerce .col2-set.addresses .col-2{width:100%}.mkdf-woocommerce-page.woocommerce-order-received .woocommerce .col2-set.addresses .col-1{margin:0 0 25px}.mkdf-woo-single-page.mkdf-woo-single-thumb-on-left-side .mkdf-single-product-content .mkdf-new-product,.mkdf-woo-single-page.mkdf-woo-single-thumb-on-left-side .mkdf-single-product-content .mkdf-onsale,.mkdf-woo-single-page.mkdf-woo-single-thumb-on-left-side .mkdf-single-product-content .mkdf-sold,.single-product.mkdf-woo-single-thumb-on-left-side .mkdf-single-product-content .mkdf-new-product,.single-product.mkdf-woo-single-thumb-on-left-side .mkdf-single-product-content .mkdf-onsale,.single-product.mkdf-woo-single-thumb-on-left-side .mkdf-single-product-content .mkdf-sold{right:10px}}@media only screen and (max-width:680px){.mkdf-woocommerce-page .woocommerce-error,.mkdf-woocommerce-page .woocommerce-info,.mkdf-woocommerce-page .woocommerce-message{padding:25px 19px 15px;line-height:1.375em}.mkdf-woocommerce-page .woocommerce-error a.button,.mkdf-woocommerce-page .woocommerce-error a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page .woocommerce-info a.button,.mkdf-woocommerce-page .woocommerce-info a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page .woocommerce-message a.button,.mkdf-woocommerce-page .woocommerce-message a.wc-forward:not(.added_to_cart):not(.checkout-button){top:-6px;float:left;margin:0 55% 10px 0}.mkdf-woocommerce-page.woocommerce-account .woocommerce-error a.button,.mkdf-woocommerce-page.woocommerce-account .woocommerce-error a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page.woocommerce-account .woocommerce-info a.button,.mkdf-woocommerce-page.woocommerce-account .woocommerce-info a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page.woocommerce-account .woocommerce-message a.button,.mkdf-woocommerce-page.woocommerce-account .woocommerce-message a.wc-forward:not(.added_to_cart):not(.checkout-button){margin:0 62% 10px 0}.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-error a.button,.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-error a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-info a.button,.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-info a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-message a.button,.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-message a.wc-forward:not(.added_to_cart):not(.checkout-button){margin:0 48% 10px 0}}@media only screen and (max-width:480px){.mkdf-woocommerce-page .woocommerce-error a.button,.mkdf-woocommerce-page .woocommerce-error a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page .woocommerce-info a.button,.mkdf-woocommerce-page .woocommerce-info a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page .woocommerce-message a.button,.mkdf-woocommerce-page .woocommerce-message a.wc-forward:not(.added_to_cart):not(.checkout-button){margin:0 35% 10px 0}.mkdf-woocommerce-page.woocommerce-account .woocommerce-error a.button,.mkdf-woocommerce-page.woocommerce-account .woocommerce-error a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page.woocommerce-account .woocommerce-info a.button,.mkdf-woocommerce-page.woocommerce-account .woocommerce-info a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page.woocommerce-account .woocommerce-message a.button,.mkdf-woocommerce-page.woocommerce-account .woocommerce-message a.wc-forward:not(.added_to_cart):not(.checkout-button){margin:0 45% 10px 0}.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-error a.button,.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-error a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-info a.button,.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-info a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-message a.button,.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-message a.wc-forward:not(.added_to_cart):not(.checkout-button){margin:0 25% 10px 0}}@media only screen and (max-width:320px){.mkdf-woocommerce-page .woocommerce-error a.button,.mkdf-woocommerce-page .woocommerce-error a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page .woocommerce-info a.button,.mkdf-woocommerce-page .woocommerce-info a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page .woocommerce-message a.button,.mkdf-woocommerce-page .woocommerce-message a.wc-forward:not(.added_to_cart):not(.checkout-button){margin:0 30% 10px 0}.mkdf-woocommerce-page.woocommerce-account .woocommerce-error a.button,.mkdf-woocommerce-page.woocommerce-account .woocommerce-error a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page.woocommerce-account .woocommerce-info a.button,.mkdf-woocommerce-page.woocommerce-account .woocommerce-info a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page.woocommerce-account .woocommerce-message a.button,.mkdf-woocommerce-page.woocommerce-account .woocommerce-message a.wc-forward:not(.added_to_cart):not(.checkout-button){margin:0 40% 10px 0}.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-error a.button,.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-error a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-info a.button,.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-info a.wc-forward:not(.added_to_cart):not(.checkout-button),.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-message a.button,.mkdf-woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-message a.wc-forward:not(.added_to_cart):not(.checkout-button){margin:0 23% 10px 0}}@media only screen and (max-width:1024px){.woocommerce-page .mkdf-content .mkdf-quantity-buttons .mkdf-quantity-input,.woocommerce-page .mkdf-content .mkdf-quantity-buttons .mkdf-quantity-minus,.woocommerce-page .mkdf-content .mkdf-quantity-buttons .mkdf-quantity-plus,div.woocommerce .mkdf-quantity-buttons .mkdf-quantity-input,div.woocommerce .mkdf-quantity-buttons .mkdf-quantity-minus,div.woocommerce .mkdf-quantity-buttons .mkdf-quantity-plus{width:48px;height:48px;font-size:20px;line-height:44px}}@media only screen and (max-width:480px){.woocommerce-page .mkdf-content .mkdf-quantity-buttons .mkdf-quantity-minus,.woocommerce-page .mkdf-content .mkdf-quantity-buttons .mkdf-quantity-plus,div.woocommerce .mkdf-quantity-buttons .mkdf-quantity-minus,div.woocommerce .mkdf-quantity-buttons .mkdf-quantity-plus{margin-bottom:10px}}@media only screen and (max-width:680px){.mkdf-woocommerce-page .mkdf-pl-controls-holder{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.mkdf-woocommerce-page .woocommerce-ordering,.mkdf-woocommerce-page .woocommerce-result-count{width:100%;margin-bottom:0}.mkdf-woocommerce-page .woocommerce-ordering .orderby{display:block}.mkdf-woocommerce-page .woocommerce-ordering{text-align:left}.mkdf-woocommerce-page .woocommerce-ordering .select2{margin-left:-15px}}@media only screen and (max-width:768px){.mkdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content,.mkdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation{float:none;width:100%;padding:0}.mkdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation{padding:40px 30px}.mkdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation ul{border-right:none;padding:15px 15px 15px 0}.mkdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation ul li:not(:last-child){margin:0 0 14px}.mkdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content{margin:40px 0 0}.mkdf-woocommerce-page.woocommerce-account .woocommerce .col2-set.addresses .col-1,.mkdf-woocommerce-page.woocommerce-account .woocommerce .col2-set.addresses .col-2{width:100%}.mkdf-woocommerce-page.woocommerce-account .woocommerce .col2-set.addresses .col-1{margin:0 0 25px}}@media only screen and (max-width:1440px){.woocommerce.columns-6>.products>.product{width:20%}}@media only screen and (max-width:1440px) and (min-width:1201px){.woocommerce.columns-6>.products>.product:nth-child(5n+1){clear:both}}@media only screen and (max-width:1200px){.woocommerce.columns-5>.products>.product,.woocommerce.columns-6>.products>.product{width:25%}}@media only screen and (max-width:1200px) and (min-width:1025px){.woocommerce.columns-5>.products>.product:nth-child(4n+1),.woocommerce.columns-6>.products>.product:nth-child(4n+1){clear:both}}@media only screen and (max-width:1024px){.mkdf-woocommerce-columns-3 .cross-sells>.products>.product,.mkdf-woocommerce-columns-3 .mkdf-pl-main-holder>.products>.product,.mkdf-woocommerce-columns-3 .related.products>.products>.product,.mkdf-woocommerce-columns-3 .upsells.products>.products>.product,.mkdf-woocommerce-columns-4 .cross-sells>.products>.product,.mkdf-woocommerce-columns-4 .mkdf-pl-main-holder>.products>.product,.mkdf-woocommerce-columns-4 .related.products>.products>.product,.mkdf-woocommerce-columns-4 .upsells.products>.products>.product,.woocommerce.columns-4>.products>.product,.woocommerce.columns-5>.products>.product,.woocommerce.columns-6>.products>.product{width:33.33333%}}@media only screen and (max-width:1024px) and (min-width:769px){.mkdf-woocommerce-columns-3 .cross-sells>.products>.product:nth-child(3n+1),.mkdf-woocommerce-columns-3 .mkdf-pl-main-holder>.products>.product:nth-child(3n+1),.mkdf-woocommerce-columns-3 .related.products>.products>.product:nth-child(3n+1),.mkdf-woocommerce-columns-3 .upsells.products>.products>.product:nth-child(3n+1),.mkdf-woocommerce-columns-4 .cross-sells>.products>.product:nth-child(3n+1),.mkdf-woocommerce-columns-4 .mkdf-pl-main-holder>.products>.product:nth-child(3n+1),.mkdf-woocommerce-columns-4 .related.products>.products>.product:nth-child(3n+1),.mkdf-woocommerce-columns-4 .upsells.products>.products>.product:nth-child(3n+1),.woocommerce.columns-4>.products>.product:nth-child(3n+1),.woocommerce.columns-5>.products>.product:nth-child(3n+1),.woocommerce.columns-6>.products>.product:nth-child(3n+1){clear:both}}@media only screen and (max-width:768px){.mkdf-woocommerce-columns-3 .cross-sells>.products>.product,.mkdf-woocommerce-columns-3 .mkdf-pl-main-holder>.products>.product,.mkdf-woocommerce-columns-3 .related.products>.products>.product,.mkdf-woocommerce-columns-3 .upsells.products>.products>.product,.mkdf-woocommerce-columns-4 .cross-sells>.products>.product,.mkdf-woocommerce-columns-4 .mkdf-pl-main-holder>.products>.product,.mkdf-woocommerce-columns-4 .related.products>.products>.product,.mkdf-woocommerce-columns-4 .upsells.products>.products>.product,.woocommerce.columns-3>.products>.product,.woocommerce.columns-4>.products>.product,.woocommerce.columns-5>.products>.product,.woocommerce.columns-6>.products>.product{width:50%}}@media only screen and (max-width:768px) and (min-width:681px){.mkdf-woocommerce-columns-3 .cross-sells>.products>.product:nth-child(2n+1),.mkdf-woocommerce-columns-3 .mkdf-pl-main-holder>.products>.product:nth-child(2n+1),.mkdf-woocommerce-columns-3 .related.products>.products>.product:nth-child(2n+1),.mkdf-woocommerce-columns-3 .upsells.products>.products>.product:nth-child(2n+1),.mkdf-woocommerce-columns-4 .cross-sells>.products>.product:nth-child(2n+1),.mkdf-woocommerce-columns-4 .mkdf-pl-main-holder>.products>.product:nth-child(2n+1),.mkdf-woocommerce-columns-4 .related.products>.products>.product:nth-child(2n+1),.mkdf-woocommerce-columns-4 .upsells.products>.products>.product:nth-child(2n+1),.woocommerce.columns-3>.products>.product:nth-child(2n+1),.woocommerce.columns-4>.products>.product:nth-child(2n+1),.woocommerce.columns-5>.products>.product:nth-child(2n+1),.woocommerce.columns-6>.products>.product:nth-child(2n+1){clear:both}}@media only screen and (min-width:1025px) and (max-width:1200px){div.woocommerce>.single-product .woocommerce-tabs ul.tabs>li a{padding:12px 7px}}@media only screen and (max-width:1024px){div.woocommerce>.single-product .mkdf-single-product-content .images,div.woocommerce>.single-product .mkdf-single-product-content .mkdf-single-product-summary{float:none;width:100%;padding:0}div.woocommerce>.single-product .mkdf-single-product-content .images .woocommerce-product-gallery__trigger{right:10px}div.woocommerce>.single-product .mkdf-single-product-content .mkdf-single-product-summary{margin:30px 0 0}div.woocommerce>.single-product .woocommerce-tabs ul.tabs>li a{padding:13px 10px}}@media only screen and (max-width:680px){.mkdf-woocommerce-columns-3 .cross-sells>.products>.product,.mkdf-woocommerce-columns-3 .mkdf-pl-main-holder>.products>.product,.mkdf-woocommerce-columns-3 .related.products>.products>.product,.mkdf-woocommerce-columns-3 .upsells.products>.products>.product,.mkdf-woocommerce-columns-4 .cross-sells>.products>.product,.mkdf-woocommerce-columns-4 .mkdf-pl-main-holder>.products>.product,.mkdf-woocommerce-columns-4 .related.products>.products>.product,.mkdf-woocommerce-columns-4 .upsells.products>.products>.product,.woocommerce.columns-2>.products>.product,.woocommerce.columns-3>.products>.product,.woocommerce.columns-4>.products>.product,.woocommerce.columns-5>.products>.product,.woocommerce.columns-6>.products>.product{width:100%}div.woocommerce>.single-product .mkdf-single-product-content .images.woocommerce-product-gallery--columns-4 .woocommerce-product-gallery__image:not(:first-child){width:50%}}@media only screen and (min-width:1025px) and (max-width:1200px){.mkdf-woo-single-page .woocommerce-tabs ul.tabs>li a{padding:12px 7px}}@media only screen and (max-width:1024px){.mkdf-woo-single-page .mkdf-single-product-content .images,.mkdf-woo-single-page .mkdf-single-product-content .mkdf-single-product-summary{float:none;width:100%;padding:0}.mkdf-woo-single-page .mkdf-single-product-content .images .woocommerce-product-gallery__trigger{right:10px}.mkdf-woo-single-page .mkdf-single-product-content .mkdf-single-product-summary{margin:50px 0 0}.mkdf-woo-single-page .woocommerce-tabs ul.tabs>li a{padding:13px 10px}}@media only screen and (max-width:680px){.mkdf-woo-single-page .mkdf-single-product-content .images.woocommerce-product-gallery--columns-4 .woocommerce-product-gallery__image:not(:first-child),.mkdf-woo-single-page.mkdf-woo-single-thumb-on-left-side .mkdf-single-product-content .images.woocommerce-product-gallery--columns-4 .woocommerce-product-gallery__image:not(:first-child){width:50%}}@media only screen and (max-width:768px){.mkdf-shopping-cart-dropdown ul{margin:20px}.mkdf-plc-holder.mkdf-simple-type .mkdf-plc-image-outer,.mkdf-plc-holder.mkdf-simple-type .mkdf-plc-text-wrapper{display:inline-block;width:100%;padding:0}.mkdf-plc-holder.mkdf-simple-type .mkdf-plc-text-wrapper{margin:30px 0 40px}}@media only screen and (max-width:1366px){#yith-quick-view-modal #yith-quick-view-content .summary{padding:52px 30px 59px}}@media only screen and (max-width:768px){body{position:relative}#yith-quick-view-modal{position:absolute;right:auto;bottom:auto;width:100%;height:100%}#yith-quick-view-modal .yith-wcqv-wrapper{position:absolute}#yith-quick-view-modal #yith-quick-view-content .images,#yith-quick-view-modal #yith-quick-view-content .summary{width:100%}#yith-quick-view-modal #yith-quick-view-content .summary{padding:46px 50px 50px}.woocommerce-wishlist .woocommerce-error,.woocommerce-wishlist .woocommerce-info,.woocommerce-wishlist .woocommerce-message{padding:17px 25px}}@media only screen and (max-width:680px){.woocommerce-wishlist .woocommerce-error,.woocommerce-wishlist .woocommerce-info,.woocommerce-wishlist .woocommerce-message{padding:14px 20px;line-height:2em}.woocommerce-wishlist .woocommerce-error a,.woocommerce-wishlist .woocommerce-info a,.woocommerce-wishlist .woocommerce-message a{float:none;margin:0 70% 15px 0}}h5, .mkdf-h5 { color: #5a5a5a;font-family: Cormorant;font-size: 22px;line-height: 1.136em;font-style: italic;letter-spacing: 0px;text-transform: none;}h6, .mkdf-h6 { letter-spacing: .2em;}.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea { height: 130px;}.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz { font-size: 18px;border-color: rgba(0, 0, 0, 1);border-style: solid;}.cf7_custom_style_1 button.wpcf7-form-control.wpcf7-submit { color: #ffffff;padding-top: 0;padding-bottom: 0;height: 51px;line-height: 51px;background-color: rgba(0, 0, 0, 1);border-color: rgba(0, 0, 0, 1);border-style: solid;padding-left: 240px;padding-right: 240px;}.cf7_custom_style_1 button.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { color: #000000;background-color: rgba(0, 0, 0, 0);border-color: rgba(0, 0, 0, 1);}.cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea { height: 138px;}.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz { font-size: 18px;background-color: rgba(255, 255, 255, 1);border-style: solid;margin-bottom: 23px;}.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz:focus { background-color: rgba(255, 255, 255, 1);}.cf7_custom_style_2 button.wpcf7-form-control.wpcf7-submit { color: #ffffff;background-color: rgba(0, 0, 0, 1);border-color: rgba(0, 0, 0, 1);border-width: 1px;border-style: solid;}.cf7_custom_style_2 button.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { color: #000000;background-color: rgba(255, 255, 255, 1);border-color: rgba(0, 0, 0, 1);}.cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea { height: 138px;}.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz { font-size: 18px;background-color: rgba(251, 249, 249, 1);border-color: rgba(203, 203, 203, 1);border-width: 1px;border-radius: 0px;border-style: solid;margin-bottom: 23px;}.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz:focus { background-color: rgba(251, 249, 249, 1);border-color: rgba(0, 0, 0, 1);}.cf7_custom_style_3 p { color: #5a5a5a;font-size: 18px;font-weight: 500;}.cf7_custom_style_3 button.wpcf7-form-control.wpcf7-submit { color: #ffffff;background-color: rgba(0, 0, 0, 1);border-color: rgba(0, 0, 0, 1);border-width: 1px;border-style: solid;}.cf7_custom_style_3 button.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { color: #000000;background-color: rgba(251, 249, 249, 1);border-color: rgba(0, 0, 0, 1);}.mkdf-page-footer .mkdf-footer-bottom-holder { border-color: #5f5f5f;border-width: 1px;}.mkdf-page-header .mkdf-sticky-header { height: 60px;}.mkdf-page-header .mkdf-sticky-header .mkdf-logo-wrapper a { max-height: 60px;}.mkdf-top-bar { height: 33px;}.mkdf-top-bar .mkdf-logo-wrapper a { max-height: 33px;}.mkdf-header-box .mkdf-top-bar-background { height: 78px;}.mkdf-side-menu-slide-from-right .mkdf-side-menu { right: -525px;width: 525px;}.mkdf-side-menu-slide-from-right.mkdf-right-side-menu-opened .mkdf-wrapper .mkdf-cover { opacity: 0;}.mkdf-side-menu { text-align: center;}.mkdf-side-menu .widget img { margin: 0 auto;}@media only screen and (max-width:1200px){.mkdf-container-inner,.mkdf-grid,.mkdf-row-grid-section{width:950px}}@media only screen and (max-width:1024px){body:not(.mkdf-content-is-behind-header):not(.error404) .mkdf-content{margin-top:0!important}.mkdf-hide-on-tablet{display:none!important}.mkdf-container-inner,.mkdf-grid,.mkdf-row-grid-section{width:768px}}@media only screen and (max-width:768px){.mkdf-container-inner,.mkdf-grid,.mkdf-row-grid-section{width:600px}}@media only screen and (max-width:680px){.mkdf-hide-on-mobile{display:none!important}.mkdf-container-inner,.mkdf-grid,.mkdf-row-grid-section{width:420px}}@media only screen and (max-width:480px){.mkdf-container-inner,.mkdf-grid,.mkdf-row-grid-section{width:300px}}@media only screen and (max-width:320px){.mkdf-container-inner,.mkdf-grid,.mkdf-row-grid-section{width:90%}}@media only screen and (max-width:1200px){.mkdf-boxed .mkdf-wrapper .mkdf-footer-inner,.mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner{width:1000px}}@media only screen and (max-width:1024px){.mkdf-boxed .mkdf-wrapper .mkdf-footer-inner,.mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner{width:818px}}@media only screen and (max-width:768px){.mkdf-boxed .mkdf-wrapper .mkdf-footer-inner,.mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner{width:650px}}@media only screen and (max-width:680px){.mkdf-boxed .mkdf-wrapper .mkdf-footer-inner,.mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner{width:470px}}@media only screen and (max-width:480px){.mkdf-boxed .mkdf-wrapper .mkdf-footer-inner,.mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner{width:350px}}@media only screen and (max-width:320px){.mkdf-boxed .mkdf-wrapper .mkdf-footer-inner,.mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner{width:92%}}@media only screen and (max-width:1280px){.mkdf-huge-space .mkdf-outer-space{margin:0 -25px}.mkdf-huge-space .mkdf-outer-space .mkdf-item-space{padding:0 25px;margin:0 0 50px}.mkdf-huge-space.mkdf-disable-bottom-space{margin-bottom:-50px}.mkdf-huge-space.mkdf-columns-has-side-space{padding:0 50px}}@media only screen and (max-width:1440px){.mkdf-grid-list.mkdf-six-columns .mkdf-item-space,.mkdf-grid-list.mkdf-six-columns .mkdf-masonry-grid-sizer{width:20%}.mkdf-grid-list.mkdf-six-columns .mkdf-item-space.mkdf-masonry-size-large-width,.mkdf-grid-list.mkdf-six-columns .mkdf-item-space.mkdf-masonry-size-large-width-height{width:40%}}@media only screen and (max-width:1440px) and (min-width:1367px){.mkdf-grid-list.mkdf-six-columns .mkdf-item-space:nth-child(5n+1){clear:both}}@media only screen and (max-width:1366px){.mkdf-grid-list.mkdf-five-columns .mkdf-item-space,.mkdf-grid-list.mkdf-five-columns .mkdf-masonry-grid-sizer{width:25%}.mkdf-grid-list.mkdf-five-columns .mkdf-item-space.mkdf-masonry-size-large-width,.mkdf-grid-list.mkdf-five-columns .mkdf-item-space.mkdf-masonry-size-large-width-height{width:50%}.mkdf-grid-list.mkdf-six-columns .mkdf-item-space,.mkdf-grid-list.mkdf-six-columns .mkdf-masonry-grid-sizer{width:25%}.mkdf-grid-list.mkdf-six-columns .mkdf-item-space.mkdf-masonry-size-large-width,.mkdf-grid-list.mkdf-six-columns .mkdf-item-space.mkdf-masonry-size-large-width-height{width:50%}}@media only screen and (max-width:1366px) and (min-width:1025px){.mkdf-grid-list.mkdf-five-columns .mkdf-item-space:nth-child(4n+1),.mkdf-grid-list.mkdf-six-columns .mkdf-item-space:nth-child(4n+1){clear:both}}@media only screen and (max-width:1024px){.mkdf-grid-list.mkdf-four-columns .mkdf-item-space,.mkdf-grid-list.mkdf-four-columns .mkdf-masonry-grid-sizer{width:33.33333%}.mkdf-grid-list.mkdf-four-columns .mkdf-item-space.mkdf-masonry-size-large-width,.mkdf-grid-list.mkdf-four-columns .mkdf-item-space.mkdf-masonry-size-large-width-height{width:66.66667%}.mkdf-grid-list.mkdf-five-columns .mkdf-item-space,.mkdf-grid-list.mkdf-five-columns .mkdf-masonry-grid-sizer{width:33.33333%}.mkdf-grid-list.mkdf-five-columns .mkdf-item-space.mkdf-masonry-size-large-width,.mkdf-grid-list.mkdf-five-columns .mkdf-item-space.mkdf-masonry-size-large-width-height{width:66.66667%}.mkdf-grid-list.mkdf-six-columns .mkdf-item-space,.mkdf-grid-list.mkdf-six-columns .mkdf-masonry-grid-sizer{width:33.33333%}.mkdf-grid-list.mkdf-six-columns .mkdf-item-space.mkdf-masonry-size-large-width,.mkdf-grid-list.mkdf-six-columns .mkdf-item-space.mkdf-masonry-size-large-width-height{width:66.66667%}.mkdf-blog-slider-holder.mkdf-bs-carousel-centered .active.center .mkdf-item-text-wrapper{opacity:1}}@media only screen and (max-width:1024px) and (min-width:769px){.mkdf-grid-list.mkdf-five-columns .mkdf-item-space:nth-child(3n+1),.mkdf-grid-list.mkdf-four-columns .mkdf-item-space:nth-child(3n+1),.mkdf-grid-list.mkdf-six-columns .mkdf-item-space:nth-child(3n+1){clear:both}}@media only screen and (max-width:768px){.mkdf-grid-list.mkdf-three-columns .mkdf-item-space,.mkdf-grid-list.mkdf-three-columns .mkdf-masonry-grid-sizer{width:50%}.mkdf-grid-list.mkdf-three-columns .mkdf-item-space.mkdf-masonry-size-large-width,.mkdf-grid-list.mkdf-three-columns .mkdf-item-space.mkdf-masonry-size-large-width-height{width:100%}.mkdf-grid-list.mkdf-four-columns .mkdf-item-space,.mkdf-grid-list.mkdf-four-columns .mkdf-masonry-grid-sizer{width:50%}.mkdf-grid-list.mkdf-four-columns .mkdf-item-space.mkdf-masonry-size-large-width,.mkdf-grid-list.mkdf-four-columns .mkdf-item-space.mkdf-masonry-size-large-width-height{width:100%}.mkdf-grid-list.mkdf-five-columns .mkdf-item-space,.mkdf-grid-list.mkdf-five-columns .mkdf-masonry-grid-sizer{width:50%}.mkdf-grid-list.mkdf-five-columns .mkdf-item-space.mkdf-masonry-size-large-width,.mkdf-grid-list.mkdf-five-columns .mkdf-item-space.mkdf-masonry-size-large-width-height{width:100%}.mkdf-grid-list.mkdf-six-columns .mkdf-item-space,.mkdf-grid-list.mkdf-six-columns .mkdf-masonry-grid-sizer{width:50%}.mkdf-grid-list.mkdf-six-columns .mkdf-item-space.mkdf-masonry-size-large-width,.mkdf-grid-list.mkdf-six-columns .mkdf-item-space.mkdf-masonry-size-large-width-height{width:100%}}@media only screen and (max-width:768px) and (min-width:681px){.mkdf-grid-list.mkdf-five-columns .mkdf-item-space:nth-child(2n+1),.mkdf-grid-list.mkdf-four-columns .mkdf-item-space:nth-child(2n+1),.mkdf-grid-list.mkdf-six-columns .mkdf-item-space:nth-child(2n+1),.mkdf-grid-list.mkdf-three-columns .mkdf-item-space:nth-child(2n+1){clear:both}}@media only screen and (max-width:1200px){.mkdf-blog-holder.mkdf-blog-centered article.type-post:not(.format-quote):not(.format-link):nth-child(2n) .mkdf-post-content,.mkdf-blog-holder.mkdf-blog-centered article.type-post:not(.format-quote):not(.format-link):nth-child(4n) .mkdf-post-content{display:block}.mkdf-blog-holder.mkdf-blog-centered article.type-post:not(.format-quote):not(.format-link):nth-child(2n) .mkdf-post-content .mkdf-post-heading,.mkdf-blog-holder.mkdf-blog-centered article.type-post:not(.format-quote):not(.format-link):nth-child(2n) .mkdf-post-content .mkdf-post-text,.mkdf-blog-holder.mkdf-blog-centered article.type-post:not(.format-quote):not(.format-link):nth-child(4n) .mkdf-post-content .mkdf-post-heading,.mkdf-blog-holder.mkdf-blog-centered article.type-post:not(.format-quote):not(.format-link):nth-child(4n) .mkdf-post-content .mkdf-post-text{width:100%}.mkdf-blog-holder.mkdf-blog-centered article.type-post:not(.format-quote):not(.format-link):nth-child(2n) .mkdf-post-content .mkdf-post-text,.mkdf-blog-holder.mkdf-blog-centered article.type-post:not(.format-quote):not(.format-link):nth-child(4n) .mkdf-post-content .mkdf-post-text{padding:40px 30px 51px}}@media only screen and (max-width:680px){.mkdf-grid-list.mkdf-five-columns .mkdf-item-space,.mkdf-grid-list.mkdf-five-columns .mkdf-masonry-grid-sizer,.mkdf-grid-list.mkdf-four-columns .mkdf-item-space,.mkdf-grid-list.mkdf-four-columns .mkdf-masonry-grid-sizer,.mkdf-grid-list.mkdf-six-columns .mkdf-item-space,.mkdf-grid-list.mkdf-six-columns .mkdf-masonry-grid-sizer,.mkdf-grid-list.mkdf-three-columns .mkdf-item-space,.mkdf-grid-list.mkdf-three-columns .mkdf-masonry-grid-sizer,.mkdf-grid-list.mkdf-two-columns .mkdf-item-space,.mkdf-grid-list.mkdf-two-columns .mkdf-masonry-grid-sizer{width:100%}.mkdf-blog-holder.mkdf-blog-centered article.format-gallery .mkdf-blog-gallery .mkdf-owl-slider .owl-nav .owl-next{right:20px}.mkdf-blog-holder.mkdf-blog-centered article.format-gallery .mkdf-blog-gallery .mkdf-owl-slider .owl-nav .owl-prev{left:20px}}@media only screen and (min-width:1201px){.mkdf-blog-holder.mkdf-blog-centered article.type-post.format-gallery:nth-child(2n) .mkdf-post-content{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%}.mkdf-blog-holder.mkdf-blog-centered article.type-post.format-gallery:nth-child(2n) .mkdf-post-content .mkdf-post-heading,.mkdf-blog-holder.mkdf-blog-centered article.type-post.format-gallery:nth-child(2n) .mkdf-post-content .mkdf-post-text{width:50%}.mkdf-blog-holder.mkdf-blog-centered article.type-post.format-gallery:nth-child(4n) .mkdf-post-content{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%}.mkdf-blog-holder.mkdf-blog-centered article.type-post.format-gallery:nth-child(4n) .mkdf-post-content .mkdf-post-heading,.mkdf-blog-holder.mkdf-blog-centered article.type-post.format-gallery:nth-child(4n) .mkdf-post-content .mkdf-post-text{width:50%}}@media only screen and (max-width:768px){.mkdf-related-posts-holder .mkdf-related-post{width:50%!important}}@media only screen and (max-width:480px){.mkdf-related-posts-holder .mkdf-related-post{width:100%!important}.mkdf-blog-single-navigation .mkdf-blog-single-prev .mkdf-post-image{padding:0 23px 0 20px}.mkdf-blog-single-navigation .mkdf-blog-single-prev .mkdf-post-nav{padding-right:5px}.mkdf-blog-single-navigation .mkdf-blog-single-next .mkdf-post-image{padding:0 20px 0 23px}.mkdf-blog-single-navigation .mkdf-blog-single-next .mkdf-post-nav{padding-left:5px}}@media only screen and (max-width:1024px) and (min-width:681px){.mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3{width:50%;float:left}.mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3:nth-child(2n+1){clear:both}.mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3:nth-child(3),.mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3:nth-child(4){margin-top:30px}.mkdf-page-footer .mkdf-column-content.mkdf-grid-col-4{width:33.33333333333333%;float:left}}@media only screen and (max-width:768px){.mkdf-page-footer .mkdf-column-content.mkdf-grid-col-4{width:100%;float:none}.mkdf-page-footer .mkdf-column-content.mkdf-grid-col-4 .footer-widget-alignment-right{text-align:center}.mkdf-page-footer .mkdf-column-content.mkdf-grid-col-4 .textwidget p{text-align:center!important}.mkdf-page-footer .mkdf-column-content.mkdf-grid-col-4 .widget:not(.mkdf-social-icons-group-widget){display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}}@media only screen and (max-width:680px){.mkdf-page-footer .mkdf-column-content:not(:first-child){margin-top:68px}.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-left .mkdf-separator-widget .mkdf-separator{margin-top:15px!important}}@media only screen and (max-width:1200px){.mkdf-boxed .mkdf-page-header .mkdf-fixed-wrapper.fixed{width:1000px}}@media only screen and (min-width:1025px){.error404.mkdf-header-vertical .mkdf-content{margin:0!important}}@media only screen and (max-width:1440px){.mkdf-header-vertical .mkdf-container-inner,.mkdf-header-vertical .mkdf-grid,.mkdf-header-vertical .mkdf-row-grid-section{width:950px}}@media only screen and (max-width:1200px){.mkdf-header-vertical .mkdf-container-inner,.mkdf-header-vertical .mkdf-grid,.mkdf-header-vertical .mkdf-row-grid-section{width:768px}}@media only screen and (max-width:1024px){.mkdf-header-vertical .mkdf-vertical-menu-area,.mkdf-page-header{display:none}.mkdf-header-vertical .mkdf-content,.mkdf-header-vertical footer{padding-left:0}.mkdf-header-vertical .mkdf-container-inner,.mkdf-header-vertical .mkdf-grid,.mkdf-header-vertical .mkdf-row-grid-section{width:768px}.mkdf-mobile-header{display:block}}@media only screen and (max-width:768px){.mkdf-header-vertical .mkdf-container-inner,.mkdf-header-vertical .mkdf-grid,.mkdf-header-vertical .mkdf-row-grid-section{width:600px}}@media only screen and (max-width:680px){.mkdf-header-vertical .mkdf-container-inner,.mkdf-header-vertical .mkdf-grid,.mkdf-header-vertical .mkdf-row-grid-section{width:420px}}@media only screen and (max-width:480px){.mkdf-header-vertical .mkdf-container-inner,.mkdf-header-vertical .mkdf-grid,.mkdf-header-vertical .mkdf-row-grid-section{width:300px}}@media only screen and (max-width:320px){.mkdf-header-vertical .mkdf-container-inner,.mkdf-header-vertical .mkdf-grid,.mkdf-header-vertical .mkdf-row-grid-section{width:90%}}@media only screen and (max-width:768px){.mkdf-paspartu-enabled .mkdf-mobile-header .mkdf-grid{width:90%}}@media only screen and (max-width:1200px){.mkdf-boxed .mkdf-page-header .mkdf-sticky-header{width:1000px}}@media only screen and (max-width:1024px){.mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner{width:818px;left:auto}.mkdf-top-bar{display:none}}@media only screen and (max-width:768px){.mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner{width:650px}}@media only screen and (max-width:680px){.mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner{width:470px}}@media only screen and (max-width:480px){.mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner{width:350px}}@media only screen and (max-width:320px){.mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner{width:92%}}@media only screen and (max-width:1024px){.mkdf-search-page-holder article .mkdf-post-image{width:80px}.mkdf-search-page-holder article .mkdf-post-title-area{padding:0 0 0 105px;min-height:80px}}@media only screen and (max-width:680px){.mkdf-search-page-holder article .mkdf-post-image{width:60px}.mkdf-search-page-holder article .mkdf-post-title-area{padding:0 0 0 80px;min-height:60px}}@media only screen and (max-width:1280px){.mkdf-fullscreen-with-sidebar-search-holder .mkdf-fullscreen-search-cell{padding:50px 0 0}.mkdf-fullscreen-with-sidebar-search-holder .mkdf-fullscreen-sidebar{margin:20px 0 0}.mkdf-fullscreen-with-sidebar-search-holder .mkdf-search-field{font-size:70px}.mkdf-fullscreen-with-sidebar-search-holder .mkdf-search-submit{font-size:40px}}@media only screen and (max-width:1024px){.mkdf-fullscreen-with-sidebar-search-holder .mkdf-form-holder-inner{width:75%}.mkdf-fullscreen-search-holder .mkdf-form-holder-inner{width:80%}}@media only screen and (max-width:768px){.mkdf-fullscreen-with-sidebar-search-holder .mkdf-field-holder .mkdf-search-field{font-size:25px}.mkdf-fullscreen-with-sidebar-search-holder .mkdf-search-submit{font-size:25px;bottom:25px!important}}@media only screen and (max-width:480px){.mkdf-fullscreen-with-sidebar-search-holder .mkdf-form-holder-inner{width:80%}}@media only screen and (max-width:1024px){@supports not (-webkit-overflow-scrolling:touch){.mkdf-title-holder.mkdf-has-bg-image.mkdf-bg-touch-cover{background-size:cover}}.mkdf-title-holder.mkdf-has-bg-image:not(.mkdf-bg-responsive-disabled):not(.mkdf-bg-parallax){height:auto!important;background-image:none!important}.mkdf-title-holder.mkdf-has-bg-image:not(.mkdf-bg-responsive-disabled):not(.mkdf-bg-parallax) .mkdf-title-image{display:block}.mkdf-title-holder.mkdf-has-bg-image .mkdf-title-wrapper{position:absolute;top:50%;left:0;height:100%!important;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}.mkdf-title-holder.mkdf-title-va-header-bottom:not(.mkdf-bg-responsive-disabled):not(.mkdf-bg-parallax){height:auto!important}.mkdf-title-holder.mkdf-title-va-header-bottom .mkdf-title-wrapper{padding-top:0!important}.mkdf-title-holder.mkdf-centered-type .mkdf-page-subtitle,.mkdf-title-holder.mkdf-custom-type .mkdf-page-subtitle{padding:0!important}.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-breadcrumbs-info,.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-title-info{display:block;width:100%}.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-breadcrumbs-info{margin:10px 0 0;text-align:initial;white-space:inherit}.mkdf-portfolio-single-holder .mkdf-ps-info-holder{margin:30px 0 0!important}}@media only screen and (max-width:680px){.mkdf-title-holder.mkdf-custom-type p.mkdf-page-subtitle{font-size:22px;line-height:30px;left:25%}.mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-gallery-images .mkdf-ps-image{width:100%!important}}@media only screen and (min-width:1201px) and (max-width:1300px){.mkdf-call-to-action-holder .mkdf-grid{width:1100px}}@media only screen and (max-width:1200px){.mkdf-call-to-action-holder.mkdf-four-fifths-columns .mkdf-cta-text-holder,.mkdf-call-to-action-holder.mkdf-three-quarters-columns .mkdf-cta-text-holder{width:66.66666666666667%}.mkdf-call-to-action-holder.mkdf-four-fifths-columns .mkdf-cta-button-holder,.mkdf-call-to-action-holder.mkdf-three-quarters-columns .mkdf-cta-button-holder{width:33.33333333333333%}.mkdf-countdown .countdown-row .countdown-section .countdown-amount{font-size:60px}}@media only screen and (max-width:768px){.mkdf-call-to-action-holder.mkdf-normal-layout .mkdf-cta-button-holder,.mkdf-call-to-action-holder.mkdf-normal-layout .mkdf-cta-inner,.mkdf-call-to-action-holder.mkdf-normal-layout .mkdf-cta-text-holder{display:block}.mkdf-call-to-action-holder.mkdf-normal-layout .mkdf-cta-button-holder{margin:28px 0 0;text-align:initial}.mkdf-call-to-action-holder.mkdf-four-fifths-columns .mkdf-cta-button-holder,.mkdf-call-to-action-holder.mkdf-four-fifths-columns .mkdf-cta-text-holder,.mkdf-call-to-action-holder.mkdf-three-quarters-columns .mkdf-cta-button-holder,.mkdf-call-to-action-holder.mkdf-three-quarters-columns .mkdf-cta-text-holder,.mkdf-call-to-action-holder.mkdf-two-halves-columns .mkdf-cta-button-holder,.mkdf-call-to-action-holder.mkdf-two-halves-columns .mkdf-cta-text-holder,.mkdf-call-to-action-holder.mkdf-two-thirds-columns .mkdf-cta-button-holder,.mkdf-call-to-action-holder.mkdf-two-thirds-columns .mkdf-cta-text-holder{width:100%}.mkdf-countdown .countdown-row.countdown-show4 .countdown-section,.mkdf-countdown .countdown-row.countdown-show5 .countdown-section,.mkdf-countdown .countdown-row.countdown-show6 .countdown-section{width:33.33333333333333%}.mkdf-countdown .countdown-row .countdown-section .countdown-amount{font-size:50px}.mkdf-custom-font-holder.mkdf-disable-title-break br{display:none}}@media only screen and (max-width:1366px){.mkdf-elements-holder.mkdf-responsive-mode-1366.mkdf-five-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-1366.mkdf-four-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-1366.mkdf-six-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-1366.mkdf-three-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-1366.mkdf-two-columns .mkdf-eh-item{width:100%;height:auto;display:inline-block}.mkdf-elements-holder.mkdf-responsive-mode-1366.mkdf-one-column-alignment-left .mkdf-eh-item .mkdf-eh-item-content{text-align:left}.mkdf-elements-holder.mkdf-responsive-mode-1366.mkdf-one-column-alignment-right .mkdf-eh-item .mkdf-eh-item-content{text-align:right}.mkdf-elements-holder.mkdf-responsive-mode-1366.mkdf-one-column-alignment-center .mkdf-eh-item .mkdf-eh-item-content{text-align:center}}@media only screen and (max-width:1024px){.mkdf-btn.mkdf-btn-huge,.mkdf-btn.mkdf-btn-large{padding:13px 48px}.mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-five-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-four-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-six-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-three-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-two-columns .mkdf-eh-item{width:100%;height:auto;display:inline-block}.mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-one-column-alignment-left .mkdf-eh-item .mkdf-eh-item-content{text-align:left}.mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-one-column-alignment-right .mkdf-eh-item .mkdf-eh-item-content{text-align:right}.mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-one-column-alignment-center .mkdf-eh-item .mkdf-eh-item-content{text-align:center}}@media only screen and (max-width:768px){.mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-five-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-four-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-six-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-three-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-two-columns .mkdf-eh-item{width:100%;height:auto;display:inline-block}.mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-one-column-alignment-left .mkdf-eh-item .mkdf-eh-item-content{text-align:left}.mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-one-column-alignment-right .mkdf-eh-item .mkdf-eh-item-content{text-align:right}.mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-one-column-alignment-center .mkdf-eh-item .mkdf-eh-item-content{text-align:center}}@media only screen and (max-width:680px){.mkdf-countdown .countdown-row .countdown-section .countdown-amount{font-size:40px}.mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-five-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-four-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-six-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-three-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-two-columns .mkdf-eh-item{width:100%;height:auto;display:inline-block}.mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-one-column-alignment-left .mkdf-eh-item .mkdf-eh-item-content{text-align:left}.mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-one-column-alignment-right .mkdf-eh-item .mkdf-eh-item-content{text-align:right}.mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-one-column-alignment-center .mkdf-eh-item .mkdf-eh-item-content{text-align:center}}@media only screen and (max-width:480px){.mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-five-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-four-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-six-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-three-columns .mkdf-eh-item,.mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-two-columns .mkdf-eh-item{width:100%;height:auto;display:inline-block}.mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-one-column-alignment-left .mkdf-eh-item .mkdf-eh-item-content{text-align:left}.mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-one-column-alignment-right .mkdf-eh-item .mkdf-eh-item-content{text-align:right}.mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-one-column-alignment-center .mkdf-eh-item .mkdf-eh-item-content{text-align:center}.mkdf-elements-holder .mkdf-eh-item-content{padding:0 10px}}@media only screen and (max-width:1440px){.mkdf-frame-slider-holder .mkdf-fs-mask{background-size:contain}}@media only screen and (max-width:680px){.mkdf-frame-slider-holder .mkdf-fs-mask{height:100%;width:100%;background-size:100% auto}.mkdf-frame-slider-holder .mkdf-fs-slides{top:7%}.mkdf-frame-slider-holder .mkdf-fs-slides img{width:86%;margin:0 auto}}@media only screen and (max-width:480px){.mkdf-frame-slider-holder .mkdf-fs-slides{top:4%}.mkdf-frame-slider-holder .mkdf-fs-slides img{width:97%}}@media only screen and (max-width:320px){.mkdf-frame-slider-holder .mkdf-fs-slides{top:3.4%;left:2.9%}.mkdf-frame-slider-holder .mkdf-fs-slides .mkdf-fs-slide a,.mkdf-frame-slider-holder .mkdf-fs-slides .mkdf-fs-slide img{width:calc(100% + 2px)}}@media only screen and (max-width:1024px){.mkdf-google-map-overlay{display:block}}@media only screen and (max-width:768px){.mkdf-section-title-holder{padding:0!important}.mkdf-section-title-holder.mkdf-st-disable-title-break .mkdf-st-title br{display:none}}@media only screen and (max-width:1024px){.mkdf-tabs.mkdf-tabs-standard .mkdf-tabs-nav li a{padding:7px 21px}.mkdf-tabs.mkdf-tabs-boxed .mkdf-tabs-nav li{margin:0 8px 0 0}.mkdf-tabs.mkdf-tabs-boxed .mkdf-tabs-nav li a{padding:7px 18px}.mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li{margin:0 26px 0 0}.mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav{width:180px}.mkdf-tabs.mkdf-tabs-vertical .mkdf-tab-container{width:calc(100% - 180px);padding:0 0 0 30px}}@media only screen and (max-width:768px){.mkdf-tabs.mkdf-tabs-boxed .mkdf-tabs-nav li a,.mkdf-tabs.mkdf-tabs-standard .mkdf-tabs-nav li a{width:100%}.mkdf-tabs.mkdf-tabs-standard .mkdf-tabs-nav li{display:block;float:none}.mkdf-tabs.mkdf-tabs-boxed .mkdf-tabs-nav li{display:block;float:none;margin:0 0 8px}.mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li{margin:0 20px 0 0}.mkdf-tabs.mkdf-tabs-vertical .mkdf-tab-container,.mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav{display:inline-block;width:100%;height:auto}.mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav{border-right:0}.mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav li{float:left;margin:0 20px 0 0}.mkdf-tabs.mkdf-tabs-vertical .mkdf-tab-container{padding:31px 0 0}}@media only screen and (max-width:680px){.mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li,.mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav li{display:block;float:none;margin:0 0 20px}.mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav{padding:0 0 20px}.mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li a,.mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav li a{padding:0;width:100%}}@media only screen and (max-width:1024px){.mkdf-instagram-feed:not(.mkdf-instagram-carousel) li img{width:100%}.mkdf-instagram-feed:not(.mkdf-instagram-carousel).mkdf-col-6 li,.mkdf-instagram-feed:not(.mkdf-instagram-carousel).mkdf-col-9 li{width:25%}}@media only screen and (max-width:768px){.mkdf-instagram-feed:not(.mkdf-instagram-carousel).mkdf-col-6 li,.mkdf-instagram-feed:not(.mkdf-instagram-carousel).mkdf-col-9 li{width:33.33333%}}@media only screen and (max-width:680px){.mkdf-instagram-feed:not(.mkdf-instagram-carousel) li{width:50%!important}}@media only screen and (max-width: 1024px){
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
}

@media only screen and (min-width: 681px) and (max-width: 768px){
}

@media only screen and (max-width: 680px){
h1 { font-size: 30px;}}