<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<th:block layout:fragment="content">
    <div class="ereaders-main-content ereaders-error-full csm-0pdd inner-pg-wrap">
        <div class="ereaders-main-section csm-heit602">
            <div class="slider-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="image-container">
                                <img class="img-fluid" th:src="@{/front/images/details-2-office-team-work.svg}" alt="alternative">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="card12">
                                <div class="container12">
                                    <div class="formclass">
                                        <div class="siginincard">
                                            <div class="form-label"><h1 class="lgreg-ttl">Sign in</h1></div>
                                            <div th:replace="layouts/globalmessages :: global-messages">(global-messages)</div>
                                            <form th:action="@{/login}" th:object="${user}" method="post">
                                            <div class="form-group">
                                                <label for="email" class="input-label">Email address</label>
                                                <input type="email" class="form-control input-box1 csm-fnt16" id="email" tabindex="0" name="username">
                                            </div>
                                            <div class="form-group padding-bottom">
                                                <label for="password" class="input-label">Password</label>
                                                <input class="form-control input-box1 csm-fnt16"
                                                       autofocus="autofocus"
                                                       tabindex="0"
                                                       type="password"
                                                       id="password"
                                                       th:field="*{password}"
                                                       name="password"
                                                >
                                            </div>
                                                <div class="row lgreg-btmblk">
                                                    <div class="col-md-6">
                                                        <div class="custom-control custom-checkbox mb-3 csm-pddtop10">
                                                            <a href="javascript:void(0);" id="forgetPass" class="t-small t-gray csm-frgt-pswr-lnk">Forgot Password?</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button type="submit" class="btn btn-primary login-button csm-lginbtn">Sign in</button>
                                                    </div>
                                                </div>
                                                <div class="custom-control mb-3 csm-signbtm-txt">
                                                    <span>Don't have an account ? </span><a th:href="@{/register}" id="register" class="csm-regnw-txt">Register Now</a>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="forgetcard" style="display: none;">
                                            <div class="form-label"><h1 class="lgreg-ttl">Reset Your Password</h1></div>
                                            <div class="messages" id="invalidEmailBlock" style="display: none">
                                                <div class="csm-mrg10-1">
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <a href="#" class="close no-loading" data-dismiss="alert" aria-label="close">×</a>
                                                        <i class="fa fa-times"></i> <span>Please enter valid email id<br></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-10">
                                                <div class="col-md-12 cms-lgn-bck">
                                                    <a href="javascript:void(0);" class="backbtn t-small cms-lgn-bck-txt">
                                                        <i class="fa fa-long-arrow-left"></i> Back
                                                    </a>
                                                </div>
                                            </div>
                                            <form class="form-signin" th:action="@{'/forgot/password'}" method="get" onsubmit="return validateEmail(document.getElementById('inputFgEmail'))">
                                                <div class="form-group padding-bottom">
                                                    <input type="email" class="form-control input-box1 csm-fnt16" id="inputFgEmail"
                                                           placeholder="Email Address"
                                                           tabindex="0"
                                                           name="userEmail">
                                                </div>
                                                <button type="submit" class="btn-primary login-button csm-lginbtn1">Send Password Reset Link</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div> <!-- end of col -->
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

</th:block>

<!--ANAND-->
<!--<th:block layout:fragment="content">

    <div class="ereaders-main-content ereaders-error-full">

        &lt;!&ndash;// Main Section \\&ndash;&gt;
        <div class="ereaders-main-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div th:replace="layouts/globalmessages :: global-messages">(global-messages)</div>
                        <div class="ereaders-error-wrap">
                            <div class="ereaders-error-text" >
                                <form th:action="@{/login}" th:object="${user}" method="post"
                                      style="margin: 0 30px 70px 30px;" class="loginform" autocomplete="disabled">
                                    <input type="text" name="temp" class="form-control" style="display:none">


                                    <div class="form-group">
                                        <input type="text" name="username" class="form-control"
                                               placeholder="Email" id="email" autocomplete="new-password"
                                               autofocus="autofocus">
                                        <p th:if="${#fields.hasErrors('email')}" class="label error"
                                           th:errors="*{email}">
                                            Incorrect LP</p>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" style="margin-top:10px;"
                                               id="password" autocomplete="new-password"
                                               th:field="*{password}" class="form-control" placeholder="Password">
                                        <p th:if="${#fields.hasErrors('password')}" class="label error"
                                           th:errors="*{password}">
                                            Incorrect LP</p>
                                    </div>

                                    <div class="form-group">
                                        <div class="g-recaptcha"
                                             data-sitekey="6Ld2Gr8SAAAAABV6gZ_0ZxRS2UggoKgamLJrxleJ"></div>
                                        <p th:if="${captchaTokenError!=null}" class="label label-danger"
                                           th:text="${captchaTokenError}">
                                            Invalid captcha</p>
                                    </div>
                                    <div class="form-group">
                                        <div class="row middle">
                                            <div class="col-md-12 mb-sm-10" style="margin-top:50px;">
                                                <a href="javascript:void(0);" id="forgetPass"
                                                   class="t-small t-gray forgotpassword">
                                                    Forgot Password?</a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="display: none;">
                                        <div class="">
                                            <input type="checkbox" id="check2">
                                            <label for="check2">Remember password</label>
                                        </div>
                                    </div>

                                    <div class="row middle">

                                        <div class="col-md-12">
                                            <button class="btn  btn-primary " type="submit">Login</button>
                                            <a class="d-flex t-small t-dark mar-15-0 mb-sm-0 btn  btn-success"
                                               id="register"
                                               th:href="@{/register}"><b>Register Now</b></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb-sm-0">

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        &lt;!&ndash;// Main Section \\&ndash;&gt;

    </div>
    &lt;!&ndash;// Main Content \\&ndash;&gt;
</th:block>-->

<th:block layout:fragment="extrascripts">
    <script type="text/javascript" th:src="@{/front/script/functions.js}"></script>
    <script type="text/javascript">
        $(document).on("click", ".forgotpassword", function (e) {
            $.confirm({
                title: 'Forgot password!',
                content: $("#forgotpassword-form").html(),
                buttons: {
                    ok: {
                        text: 'Send password reset link',
                        btnClass: 'btn-blue',
                        action: function () {
                            var email = this.$content.find('#inputFgEmail').val();
                            if (email != '') {
                                this.$content.find('#forgot-submit').click();
                            }else{
                                this.$content.find('.fp').show();
                            }
                            return false;
                        }
                    },
                    cancel: function () {
                        //close
                    },
                },

            });
        });

        $(document).ready(function () {
            $('#ereaders-footer').css({
                "bottom" : "0",
                "position" : "fixed"
            });
        });
        // Login Script
        $('#forgetPass').click(function () {
            $('.siginincard').hide();
            $('.forgetcard').show();
        });


        $('.backbtn').click(function () {
            $('.forgetcard').hide();
            $('.siginincard').show();
        });

        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }

        //validation of email address
        function validateEmail(emailField){
            var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
            if (reg.test(emailField.value) === false)
            {
                document.getElementById('invalidEmailBlock').style.display="block";
                return false;
            }
            else
            {
                return true;
            }
        }

    </script>
    <div style="display: none;" id="forgotpassword-form">
        <form id="forgotpass" th:action="@{'/forgot/password'}"
              method="get">
            <div class="alert alert-danger fp" style="display: none;">Please enter email id</div>
            <label for="inputFgEmail" class="sr-only">Email</label>

            <input type="email" id="inputFgEmail" name="userEmail"
                   class="form-control" placeholder="Email"
                   autofocus="">
            <input type="submit" id="forgot-submit" style="display: none;">
        </form>
    </div>

    <!--VIVEK-CSS-JS-->
    <!--<script th:src="@{front/script/loginscript.js}"></script>-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script type="text/javascript" th:src="@{/front/script/functions.js}"></script>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">-->
    <!--<link rel="stylesheet" th:href="@{front/css/loginstyle.css}">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <!--ANAND-CSS-JS-->


</th:block>
</html>